<style>
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,Helvetica,sans-serif;
}

body{
    background:#f4f4f4;
    width:50%;
    height:50%;
}

header{
    background:#198754;
    color:white;
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    font-size:28px;
    font-weight:bold;

}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:bold;
}

.container{
    max-width:50%;
    margin:50px auto;
    background:white;
    padding:50px;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

h1{
    color:#198754;
    text-align:center;
    margin-bottom:30px;
}

.form-group{
    margin-bottom:50px;
}

label{
    display:block;
    margin-bottom:8px;
    font-weight:bold;
}

input,
select,
textarea{
    width:50%;
    padding:12px;
    border:1px solid #ccc;
    border-radius:5px;
    font-size:16px;
}

textarea{
    resize:vertical;
}
#productForm{
    max-width:700px;
    height:50%
}

.btn{
    background:#198754;
    color:white;
    border:none;
    padding:15px;
    width:90%;
    border-radius:5px;
    font-size:18px;
    cursor:pointer;
}

.btn:hover{
    background:#146c43;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}
</style>
</head>
